h1 {
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333; /* Change to your desired background color */
	padding: 10px; /* Adjust the padding as needed */
	border-radius: 20px; /* Adjust the border-radius to control rounded corners */
	margin-bottom: 30px; /* Adjust the margin as needed */
}

.profile-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.profile-button {
	padding: 6px 16px; /* Adjust the padding to make the buttons bigger */
	border: none;
	border-radius: 15px; /* Adjust the border-radius to create rounded corners */
	background-color: #242424; /* Change to your desired button background color */
	color: #fff; /* Change to your desired text color */
	cursor: pointer;
	font-size: 18px; /* Adjust the font size as needed */
	margin-right: 1vw;
}

.header-logo {
	width: auto;
	height: 50px; /* Set the height of the logo as per your design */
	max-width: 200px; /* Set a maximum width to limit the logo size */
	margin-right: 10px; /* Adjust the margin as needed to control spacing */
}

.header-title {
	flex: 1; /* Make the title expand to fill available space */
	text-align: center; /* Center the text */
	color: #fff; /* Change to your desired text color */
	font-size: 24px; /* Adjust the font size as needed */
}

.header-buttons {
	display: flex;
	flex-direction: column; /* Set the flex direction to column to place buttons on new lines */
	gap: 10px; /* Adjust the gap between buttons as needed */
}

.nav-buttons {
	padding: 10px 20px; /* Adjust the padding to make the buttons bigger */
	border: none;
	border-radius: 15px; /* Adjust the border-radius to create rounded corners */
	background-color: #242424; /* Change to your desired button background color */
	color: #fff; /* Change to your desired text color */
	cursor: pointer;
	font-size: 16px; /* Adjust the font size as needed */
}

.nav-buttons:hover {
	background-color: #083c57; /* Change to the hover background color */
}
